@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700,700italic%7CCinzel");
@import url("https://fonts.googleapis.com/css?family=Spectral:300,400,400italic,700,700italic%7CCinzel");
body {
  font-family:Roboto;
  background-color:#fff8e3;
  margin:0px;
  margin-top:-20px;
} 
.banner {
  vertical-align:middle;
  text-align:center;
  height:15vh;
  background:#9D0526;
  position:relative;
  width:100vw;
  top:0;
  left:0;
  justify-content:center;
}
.bannericon {
  padding: 2vh;
  height:10vh;
}
.bannertext {
  font-size: 8vh;
  font-family: Spectral;
  color: white;
  margin: 0px;
}
