@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700,700italic%7CCinzel");
@import url("https://fonts.googleapis.com/css?family=Spectral:300,400,400italic,700,700italic%7CCinzel");
body {
  text-align: center;
  font-family: Roboto;
  background-color:#fff8e3;
  margin:0px;
  margin-top:-20px;
} 
.banner {
  vertical-align:middle;
  text-align:center;
  height:17vh;
  background:#9D0526;
  position:relative;
  width:100vw;
  top:0;
  left:0;
  justify-content:center;
}
.bannericon {
  vertical-align: top;
  height:10vh;
}
.bannertext {
  padding: 5.5vh;
  font-size: 8vh;
  font-family: Spectral;
  color: white;
  margin: 0px;
}
.content {
  margin: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
.button {
  padding:20px;
  background-color: #9D0526;
  border-radius: 10px;
}
.button:active {
  background-image: #980021;
}
